# Inbouned and Demonestic

## Libraries

In [1]:
import pandas as pd

## domenstic data

In [2]:
# domenstic data 
## read data file
df_d = pd.read_excel('raw_data/D_data.xlsx')

## crete date column and set it as index then drop the (yeaer month) columns
df_d['Date'] = pd.to_datetime(df_d['Year'].astype(str) + ' ' + df_d['Month'])
df_d.set_index('Date', inplace=True)
df_d.drop(columns=['Year', 'Month'], inplace=True)

## rename the column
df_d.rename(columns={'Tourists Number Overnight Visitors': 'number of visitor'}, inplace=True)
df_d.head()

/tmp/ipykernel_17691/142961181.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_d['Date'] = pd.to_datetime(df_d['Year'].astype(str) + ' ' + df_d['Month'])

,number of visitor,Overnight Stay,Tourists Spending,Average Length of Stay,Avergae Spending per Trip,Average Spending per Night,Religious,Leisure,Business,Visiting Friends and Relatives,...,Apartments,Private,Other,ACCOMMODATION SPEND in MILLION SAR,ENTERTAINMENT SPEND in MILLION SAR,FOOD SPENDS in MILLION SAR,LOCAL TRANSPORT SPENDS in MILLION SAR,SHOPPING SPEND in MILLION SAR,OTHER SPEND in MILLION SAR,TOTAL SPENDS in MILLION SAR
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,4823.334549,23103.710191,4381.208200,4.789987,908.335956,189.632235,1194.967621,1854.266758,169.023621,1380.924648,...,1549.630667,1335.232156,93.080369,1362.0,399.0,935.0,618.0,1005.0,62.0,4381.0
2015-02-01,4140.102538,20036.521049,3581.202822,4.839620,865.003412,178.733764,952.743784,1620.487517,165.280324,1185.084843,...,1495.705370,1139.172444,137.152216,1059.0,371.0,784.0,513.0,734.0,119.0,3581.0
2015-03-01,3859.551814,18428.539996,3405.944481,4.774788,882.471501,184.819008,934.119103,1674.931990,178.188045,851.654513,...,1607.740641,861.592916,126.839058,1010.0,359.0,754.0,476.0,713.0,94.0,3406.0
2015-04-01,3539.225495,15996.654930,3317.223238,4.519818,937.273775,207.369807,674.581187,1592.922992,202.923651,895.586948,...,2217.786467,860.645616,8.295148,785.0,373.0,686.0,458.0,852.0,162.0,3317.0
2015-05-01,3332.502920,15393.351631,3450.324841,4.619156,1035.355384,224.143833,726.238191,1410.867067,201.985253,768.996769,...,2111.083467,644.062810,18.217357,856.0,328.0,652.0,489.0,857.0,269.0,3450.0

In [3]:
visitor_num_d = pd.DataFrame(df_d['number of visitor'])
spend_d = pd.DataFrame(df_d['Tourists Spending'])
spend_d

            Tourists Spending
Date
2015-01-01        4381.208200
2015-02-01        3581.202822
2015-03-01        3405.944481
2015-04-01        3317.223238
2015-05-01        3450.324841
...                       ...
2024-08-01                NaN
2024-09-01                NaN
2024-10-01                NaN
2024-11-01                NaN
2024-12-01                NaN

[120 rows x 1 columns]

## data visualizing

## models

## inbound data

In [5]:
# inbound data 
## read data file
df_i = pd.read_excel('raw_data/I_data.xlsx')

## crete date column and set it as index then drop the (yeaer month) columns
df_i['Date'] = pd.to_datetime(df_i['Year'].astype(str) + ' ' + df_i['Month'])
df_i.set_index('Date', inplace=True)
df_i.drop(columns=['Year', 'Month'], inplace=True)

## rename the column
df_i.rename(columns={'Tourists Number Overnight Visitors': 'number of visitor'}, inplace=True)
df_i.head(15)

/tmp/ipykernel_17691/1171458926.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_i['Date'] = pd.to_datetime(df_i['Year'].astype(str) + ' ' + df_i['Month'])

,number of visitor,Overnight Stay,Tourists Spending,Average Length of Stay,Avergae Spending per Trip,Average Spending per Night,Religious,Leisure,Business,Visiting Friends and Relatives,...,Private,Other,Total,ACCOMMODATION SPEND in MILLION SAR,ENTERTAINMENT SPEND in MILLION SAR,FOOD SPENDS in MILLION SAR,LOCAL TRANSPORT SPENDS in MILLION SAR,SHOPPING SPEND in MILLION SAR,OTHER SPEND in MILLION SAR,TOTAL SPENDS in MILLION SAR
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,2247.108716,22786.205665,8942.891117,10.140233,3979.732289,392.469516,1188.680957,269.830450,21.932781,476.286010,...,407.659934,59.423627,2247.108716,4178.0,402.0,906.0,1009.0,1592.0,856.0,8943.0
2015-02-01,1704.247343,18623.357319,8072.564954,10.927614,4736.733190,433.464537,1102.405861,174.080482,40.238499,242.360359,...,180.663330,32.145750,1704.247343,3755.0,281.0,946.0,1014.0,1433.0,643.0,8073.0
2015-03-01,1533.266267,14684.551872,6690.145796,9.577301,4363.329410,455.590736,978.101284,138.824224,35.979820,208.495550,...,188.291173,63.788260,1533.266267,3134.0,195.0,865.0,743.0,1172.0,581.0,6690.0
2015-04-01,1574.023954,16834.418142,6174.227602,10.695147,3922.575375,366.762162,911.930406,93.753138,11.399367,205.232784,...,378.944595,37.113298,1574.023954,3183.0,144.0,622.0,675.0,1174.0,377.0,6174.0
2015-05-01,1396.368298,12500.283679,5685.580226,8.951996,4071.690997,454.836096,589.122219,111.260754,179.006869,253.934684,...,334.912092,31.924759,1396.368298,2391.0,125.0,813.0,549.0,1421.0,386.0,5686.0
2015-06-01,1534.627768,15701.725333,7477.696371,10.231618,4872.645033,476.234058,702.359866,99.990621,289.395115,263.131877,...,275.683531,27.569749,1534.627768,3631.0,111.0,1001.0,814.0,1507.0,413.0,7478.0
2015-07-01,1348.413130,12010.469273,7810.646889,8.907114,5792.473180,650.319876,570.440297,113.681390,192.446542,247.916817,...,327.424717,41.411691,1348.413130,4295.0,95.0,862.0,742.0,1480.0,337.0,7811.0
2015-08-01,1056.139461,8584.093515,4712.065689,8.127803,4461.594198,548.929911,156.198031,112.954378,198.016218,380.927375,...,383.055939,22.748595,1056.139461,2224.0,78.0,593.0,550.0,997.0,270.0,4712.0
2015-09-01,2072.749827,35419.757825,10609.200955,17.088294,5118.418449,299.527767,1406.021824,135.075068,165.678505,202.228066,...,235.228414,165.166886,2072.749827,4929.0,61.0,1083.0,1037.0,2578.0,920.0,10609.0
2015-10-01,769.369692,7463.979901,3657.961136,9.701422,4754.490820,490.081858,8.394944,110.240347,224.785555,274.412613,...,277.540185,32.607141,769.369692,1776.0,78.0,294.0,571.0,709.0,229.0,3658.0
2015-11-01,911.195012,8294.347377,4036.400681,9.102714,4429.787945,486.644759,184.114343,90.016095,253.377682,271.007372,...,252.335257,45.486391,911.195012,1850.0,72.0,445.0,492.0,846.0,332.0,4036.0
2015-12-01,1846.716491,20181.067921,8630.400516,10.928081,4673.375994,427.648356,1016.002567,110.958116,268.318499,320.912939,...,338.995787,56.950903,1846.716491,4334.0,132.0,1096.0,1047.0,1407.0,615.0,8630.0
2016-01-01,1896.441740,18008.977101,8799.496445,9.496193,4640.003571,488.617227,989.919856,150.816928,278.773272,301.766765,...,329.671204,35.837495,1896.441740,3365.0,92.0,1410.0,986.0,1775.0,1171.0,8799.0
2016-02-01,2343.480682,21859.636758,10578.297470,9.327850,4513.925611,483.919179,873.194989,168.006300,562.842729,389.839393,...,563.830244,62.404944,2343.480682,3895.0,89.0,1623.0,1212.0,2391.0,1368.0,10578.0
2016-03-01,1709.111549,17462.762970,9552.267850,10.217451,5589.025395,547.007817,1064.591282,101.126197,287.908821,195.557998,...,231.182161,40.564582,1709.111549,3956.0,214.0,1655.0,811.0,1299.0,1618.0,9552.0

In [6]:
visitor_num_i = pd.DataFrame(df_i['number of visitor'])
spend_i = pd.DataFrame(df_i['Tourists Spending'])
visitor_num_i

            number of visitor
Date
2015-01-01        2247.108716
2015-02-01        1704.247343
2015-03-01        1533.266267
2015-04-01        1574.023954
2015-05-01        1396.368298
...                       ...
2024-08-01                NaN
2024-09-01                NaN
2024-10-01                NaN
2024-11-01                NaN
2024-12-01                NaN

[120 rows x 1 columns]

## data visualizing

## models